body {
    font-family: Arial, sans-serif;
    display: flex;
    margin: 0;
    padding: 0;
    overflow-x; hidden;
}

.map-container {
    width: 190%;
    position: relative;
}

.map {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.sidebar {
    width: 30%;
    padding: 10px;
    background-color: #f4f4f4;
    border-left: 1px solid #ddd;
    display: none;
}

