body {
    font-family: Arial, sans-serif;
    display: flex;
}

.map-container {
    width: 190%;
    position: relative;
}

.map {
    width: 190%;
    height: auto;
}

.sidebar {
    width: 30%;
    padding: 10px;
    background-color: #f4f4f4;
    border-left: 1px solid #ddd;
    display: none;
}

